{
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.css", "*.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "printWidth": 180,
    "bracketSpacing": false
}
